scopeName: 'source.green'
name: 'Green'
fileTypes: [
  'green'
]
firstLineMatch: ''
foldingStartMarker: ''
foldingStopMarker: ''
patterns: [
    {
        # import green files
        'match': '((^|\\n)(\\s){0,}@import(\\s){1,})(.{1,}\\.green)'
        'captures':
            '1':
                'name': 'keyword.import.green'
            '5':
                'name': 'string.quoted.green'
    }

    {
        # @id MYID
        'match': '(@id)(\\s|\\n){1,}(\\s|\\n){0,}\\b((.){1,})\\n'
        'captures':
            '1':
                'name': 'storage.type.const.green'
            '4':
                'name': 'constant.other.green'
    }

    {
        # @status MYID
        'match': '(@status)(\\s|\\n){1,}(\\s|\\n){0,}(DONE|OPEN|RESOLVED)?\\n'
        'captures':
            '1':
                'name': 'storage.type.const.green'
            '4':
                'name': 'entity.name.function.green'
    }

    {
        # full line comments
        'match': '(^|\\n)(\\s){0,}#(\\s){0,}(.){0,}'
        'name': 'comment.fullline.green'
    }

    {
        # include "cssPaths[]" files
        'match': '((^|\\n)(\\s){0,}@cssPaths\\[\\](\\s){1,})(.{1,}\\.css)(.{1,}){0,}'
        'captures':
            '1':
                'name': 'keyword.import.green'
            '5':
                'name': 'string.quoted.green'
                'patterns': [
                        {
                            # list of tags - seperator
                            'match': ','
                            'name': 'constant.other.green'
                        }
                    ]
            '6':
                'name': 'string.quoted.green'
                'patterns': [
                        {
                            # list of tags - seperator
                            'match': ','
                            'name': 'constant.other.green'
                        }
                    ]
    }

    {
        # @list[] word, word, word
        'match': '(@[a-zA-Z]{1,})(\\[\\]|\\{\\}){0,}(.{1,}){0,}'
        'captures':
            '1':
                'name': 'storage.type.const.green'
            '2':
                'name': 'keyword.operator.green'
            '3':
               'name': 'default.green'
               'patterns': [
                        {
                            # list of tags - seperator
                            'match': ','
                            'name': 'constant.other.green'
                        }
                    ]
    }

    {
        # forced newline
        'match': ';'
        'name': 'constant.other.green'
    }

    {
        # timeValues
        'match': '(\\.)?(-?[\\d]?\\.?[\\d]+\\.?[\\d]?)(w|week|weeks|d|day|days|h|hour|hours|m|minute|minutes){1}\\b'
        # 'name': 'entity.name.function.green'
        'captures':
            '2':
                'name': 'entity.name.function.green'
            '3':
                'name': 'string.quoted.green'
    }
]
repository: # An array of rules. If you're going to be referencing one bit of code over and over again, stick it here so that you can edit all in one place.
  ruleName: # Can be anything.
    {
      name: ''
      match: ''
      end: ''
      endCaptures:
        0:
          name: ''
    }
